*,
*::before,
*::after {
  box-sizing: border-box;
  border: none;
}

html {
  color-scheme: light dark;
}

body {
  margin: 1rem;
  line-height: 1.5;
  background: #fff;
  color: #000;
}

a:link {
  color: LinkText;
}

a:visited {
  color: VisitedText;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #000;
    color: #fff;
  }
}

article img {
  max-width: 100%;
  height: auto;
}

.post {
  max-width: 600px;
}
