*,
*::before,
*::after {
  box-sizing: border-box;
  border: none;
}

html {
  color-scheme: light dark;
}

body {
  margin: 1rem;
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  background: #fff;
  color: #000;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #000;
    color: #fff;
  }
}

article img {
  max-width: 100%;
  height: auto;
}
