<!DOCTYPE html>
<html lang="{{ site.Language.Lang }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{- $title := cond .IsHome site.Title (printf "%s | %s" .Title site.Title) -}}
  <title>{{ $title }}</title>
  {{- with site.Params.description -}}
  <meta name="description" content="{{ . }}">
  {{- end -}}
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
  {{- with site.Home.OutputFormats.Get "RSS" -}}
  <link rel="alternate" type="application/rss+xml" href="{{ .Permalink }}" title="{{ site.Title }}">
  {{- end -}}
</head>
<body>
  {{ block "main" . }}{{ end }}
</body>
</html>
